#closet {
  /* border: solid tomato;  */
  
  position: relative;
}

.shirrt {
  /* border: solid tomato; */
  width: 400px;
  height: 450px;
  margin-top: 7rem;
  margin-left: 25rem;
  position: absolute;
}


.icon {
  position: absolute;
  /* border: solid tomato;  */
  /* display: inline-block; */
  width: 140px;
  height: 110px;
  top: 12rem;
  left: 33.3rem;}

#changeColor{
  float: right;
  margin-right: 35%;
  margin-top: 200px;
}
#changeColor .circle{
 box-shadow: rgb(100, 100, 97) 3px 3px ;
  background-color: rgb(199, 199, 199);
  border-radius: 67px;
}